
.img-circle {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

div.fixed {
    position: fixed;
    width: 320px;
    top:0;
  	left:0;
  	bottom:0;
  	color: black;
  	padding-top: 50px;
    padding-right: 30px;
    padding-left: 30px;
    overflow: hidden;
    background-color: white;
    z-index: 1;
}

div.main {
	margin-left: 320px;
    position: relative;
    width: 80%;
    top:0;
  	left:0;
  	bottom:0;
  	color: black;
  	padding-top: 80px;
    padding-right: 30px;
    padding-left: 30px;
    overflow: hidden;
}


div.category {
  	color: black;
  	padding-top: 50px;
    padding-right: 30px;
    padding-left: 30px;
    overflow: hidden;
}
ul.nav {
    list-style-type: none;
    margin: 0;
  	padding-top: 10px;
    padding-right: 30px;
    padding-left: 30px;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid grey;
}

li.nav {
    float: left;
}

li.nav a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
}

li.nav a:hover:not(.active) {
    border-bottom: 2px solid #555;
}

li.nav .active {
    border-bottom: 2px solid orange;
}

h2 {
    border-bottom: 1px groove;
    width: 30%
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 25px;
}
li.order {
    font-size: 30px;
}
p, b, i {
    font-size: 30px;
}